# Global
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
.vite/

# .NET
bin/
obj/

# IDE
.vscode/
.idea/
*.suo
*.user

# Env
.env
.env.*
!.env.example
!.env.dev.example
!.env.staging.example
!.env.prod.example

# Logs
logs/
*.log
